@using Comment_Post.ViewModels;
@model IEnumerable<PostViewModel>

@{
    ViewData["Title"] = "Posts";
}

<h2>Posts</h2>

<button id="openModalBtn" class="btn btn-primary">
    <i class="fas fa-plus"></i> Create New Post
</button>

<!-- Container to hold the partial view content -->
<div id="postFormContainer">
    @Html.Partial("_PostForm", new PostViewModel())
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>User</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td>@post.UserName</td>

                <td>
                    <button class="btn btn-primary editBtn" data-id="@post.Id" data-title="@post.Title" data-content="@post.Content">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
   
    <script>
        // Handle Modal Button Click for Add
        $("#openModalBtn").click(function () {
            // Load the partial view content dynamically
            $.get('/Post/CreateOrEdit', function (data) {
                // Update the content of the container
                $("#postFormContainer").html(data);
                // Clear previous validation messages
                $(".text-danger").html("");
                // Open the modal
                $("#myModal").modal("show");
            });
        });

        // Handle Modal Button Click for Edit
        $(".editBtn").click(function () {
            // Get data from the row for editing
            var post = {
                Id: $(this).data("id"),
                Title: $(this).data("title"),
                Content: $(this).data("content")
            };

            // Load the partial view content dynamically with the updated parameter
            $.get('/Post/CreateOrEdit', { id: post.Id }, function (data) {
                // Update the content of the container
                $("#postFormContainer").html(data);
                // Clear previous validation messages
                $(".text-danger").html("");
                // Open the modal
                $("#myModal").modal("show");
            });
        });
    </script>
}
